<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cantofy.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cantofy.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>cantofy</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$cantofy</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="applicationDB" Order="1" Enabled="False">
          <Destination Path="server=tarahumara.ddns.net;port=3306;database=cantofy;uid=mabel;password=joakim;Charset=utf8;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Cantofy3.Models.DBContext, ng.Net Template1" MigrationConfiguration="Cantofy3.Migrations.Configuration, ng.Net Template1" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)applicationDB-Web.config Connection String">
      <ParameterValue>server=tarahumara.ddns.net;port=3306;database=cantofy;uid=mabel;password=joakim;Charset=utf8;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>