
<div class="container-fluid" ng-cloak>

    <header class="row site-header">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/home">Cantofy</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        
                        <li ng-show="loggedIn"><a href="#/home">Home</a></li>
                        <li ng-show="loggedIn"><a href="#/history">History</a></li>
                        <li ng-show="loggedIn"><a ng-click="logout()">Log Out</a></li>
                        <li ng-hide="loggedIn"><a href="#/signin">Sign In</a></li>
                        <li ng-hide="loggedIn"><a href="#/register">Register</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <div class="row site-body">
        <div class="col-md-10 col-md-offset-1" ng-view>
        </div>
    </div>

    <div class="row site-footer">
        <div class="col-md-10 col-md-offset-1">
            <footer>
                <div>
                    Cantofy
                </div>
            </footer>
        </div>
    </div>
</div>
